recordings/fun/*
!recordings/fun/placeholder.txt

agents_states/fun/*
!agents_states/fun/placeholder.txt

logs/fun/*
!logs/fun/placeholder.txt

docs/articles/*
!docs/articles/placeholder.txt

# machine specific
.DS_store

__pycache__/*

to-do.txt